@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght,bold@0,100..900;1,100..900&display=swap');
body {
    background: #252220;
}
.centerPlease {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #fff;
    font-size: 15pt;
    font-style: bold;
}
.text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #949392;
    font-size: 10pt;
    font-style: normal;
}
.emote
{
    height: 32pt;
}
.button {
    background-color: #252220; /* Заливка в обычном состоянии */
    border: 3px solid #453b34; /* Край кнопки */
    color: white; /* Цвет текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    font-size: 10pt; /* Размер текста */
    padding: 8px; /* Отступ от текста до края */
    border-radius: 15px; /* Закругление краев */
    transition: all 0.3s ease; /* Плавная анимация */
    position: relative; /* Для управления тенью */
}
.button:hover {
    background-color: #453b34; /* Заливка при наведении */
    transform: translateY(-3px); /* Приподнятие кнопки */
    box-shadow: 0 3px 0 #453b34; /* Тень снизу */
}