@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    background: #070706;
	margin: 0px;
}
.error-text
{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #ff6b75;
    font-size: 10pt;
    font-style: normal;
}
.blurObject {
	text-align: left;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(7, 7, 6, 0.1);
	backdrop-filter: blur(10px);
}
.centerPlease {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15pt;
    font-style: bold;
}
.text {
    font-family: "Montserrat", sans-serif;
    color: #949392;
    font-size: 10pt;
    font-style: normal;
}
.emote
{
    height: 32pt;
}
.button {
    background-color: rgba(0, 0, 0, 0); /* Заливка в обычном состоянии */
    border: 2px solid #FFFFFF5e; /* Край кнопки */
    color: #b3b2b1; /* Цвет текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    font-size: 10pt; /* Размер текста */
    padding: 8px; /* Отступ от текста до края */
    border-radius: 12px; /* Закругление краев */
    transition: all 0.3s ease; /* Плавная анимация */
    position: relative; /* Для управления тенью */
}
.button:hover {
	color: #070706; /* Цвет текста */
    background-color: #ffa061; /* Заливка при наведении */
	border: 2px solid #ffa061; /* Край кнопки */
    transform: translateY(-3px); /* Приподнятие кнопки */
    box-shadow: 0 3px 0 #ffa061; /* Тень снизу */
}
.notInCenter {
	text-align: left;
}
.background-text {
	font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15rem; /* Размер шрифта */
    color: rgba(0, 0, 0, 0.1); /* Полупрозрачный цвет */
    text-align: center;
    line-height: 1.2;
    user-select: none; /* Запретить выделение текста */
    pointer-events: none; /* Запретить взаимодействие с текстом */
}
.command-info {
    text-align: left;
    margin: 20px;
    padding: 15px;
    border: 3px solid rgba(256, 256, 256, 0.15);
    border-radius: 20px;
    background-color: rgba(256, 256, 256, 0.15);
}
.command-author-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.header {
    width: calc(100% - 50px);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    padding: 25px;
    position: fixed; /* Изменено на fixed */
    top: 0; /* Прикрепляем к верхней части окна */
    z-index: 1000; /* Чтобы он был над другими элементами */
    backdrop-filter: blur(10px);
}
.header-logo {
	color: white;
	height: 20pt;
	display: flex;
    align-items: center;
    justify-content: left;
	vertical-align: middle;
}
.header-logo-text {
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 15pt;
}
.header-menu {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: right;
	vertical-align: middle;
	gap: 10px;
    flex-wrap: wrap;
}
.giant-hello {
	font-family: "Pacifico", cursive;
	color: #ffa061;
    font-size: 100pt;
    font-weight: bold; /* Жирный текст */
    
}
.textLinks {
	text-decoration: none;
}