@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght,bold@0,100..900;1,100..900&display=swap');
body {
    background: #252220;
}
.centerPlease {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 15pt;
    font-style: bold;
}
.text {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFFAA;
    font-size: 10pt;
    font-style: normal;
}
.error-text {
    font-family: "Montserrat", sans-serif;
    color: #ff7878;
    font-size: 10pt;
    font-style: normal;
}
.emote
{
    height: 32pt;
}
.button {
    background-color: #252220;
    border: 3px solid #453b34;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    padding: 8px;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
}
.button:hover {
    background-color: #453b34;
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #453b34;
}
.notInCenter {
	text-align: left;
}
.command-info {
    text-align: left;
    margin: 20px;
    padding: 15px;
    border: 3px solid #37322f;
    border-radius: 20px;
    background-color: #2c2826;
}
.command-author-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}